@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');
/*             Global Properties       */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    font-family: "Poppins", sans-serif;
}

h1, li, a, button {
    
    text-decoration: none;
    font-weight: 300;
    color: aliceblue;
}
/*             Navbar Section       */
span {
    font-weight: 700;
}
#app {
    color: #C488ff;
    font-weight: 300;
}


header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #000000;
}
.hero-section {
    width: 100%;
    height: 90vh;
    background-color: #000000;
}
.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}


.nav-links li a:hover {
    color: #C488ff;
}

button {
    padding: 10px 20px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.45);
    cursor: pointer;
    border: none;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(196, 136, 255, 0.6);
    color: #f8f8ff;
}

/* Main Section*/
.container {
    /* background-color: red; */
    width: 100%;
    height: 75vh;
    position: relative;
    
}

.text-container {
    width: 100%;
    position: absolute;
    height: 80vh;
    margin: 0;
}
.text-content {
    position: absolute;
}
.text-container h1 {
    font-size: 76px;
    font-weight: 500;
    line-height: 1.3;
    top: 15%;
    left: 9.7%;
}
.text-container p {
    color: white;
    font-size: 23px;
    margin-top: 10px;
}

.btn-normal, .btn-ghost {
    margin-top: 35px;
    padding: 10px 25px;
    font-size: 20px;
    letter-spacing: -1px;
}

.btn-normal {
    background-color: #C488ff;
    margin-right: 10px;
    padding: 13px 33px;
}

.btn-ghost {
    background-color: transparent;
    border: 3px solid #C488ff;
}

.svg-container {
    width: 50%;
    position: absolute;
    left: 50%;
    top: 5%;
}

.text-content {
    width: 80%;
    top: 15%;
    left: 9.5%;
}

/*             Markup Section       */
.markup-container {
    margin-top: 100px;
    width: 100%;
    height: 100vh;
    background-color: white;
    position: relative;
}

.markup-container h1 {
    color: #1D2327;
    font-size: 71px;
    text-align: center;
    font-weight: 600;
}
.markup-container p {
    text-align: center;
    margin: 10px 250px;
    font-weight: 400;
}