@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;
}

h1, li, a, button {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    font-weight: 300;
    color: aliceblue;
}

span {
    font-weight: 700;
}
#app {
    color: #C488ff;
    font-weight: 300;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}


.nav-links li a:hover {
    color: #C488ff;
}

button {
    padding: 10px 20px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.45);
    cursor: pointer;
    border: none;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(196, 136, 255, 0.6);
    color: #f8f8ff;
}